<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14013158140-homb3afjllsfnj0h34uidj0njkst2hie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14013158140-homb3afjllsfnj0h34uidj0njkst2hie</string>
	<key>API_KEY</key>
	<string>AIzaSyBLUBeS_4DgNDVtkOUtjfaZXDZE4RXhD9I</string>
	<key>GCM_SENDER_ID</key>
	<string>14013158140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.vibe-check</string>
	<key>PROJECT_ID</key>
	<string>vibe-check-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vibe-check-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14013158140:ios:4bfbc4ef4e6273b890fd79</string>
	<key>DATABASE_URL</key>
	<string>https://vibe-check-app.firebaseio.com</string>
</dict>
</plist>